@charset "utf-8";

/*
tudo em HTML É id = em CSS é #( só pode um elemento)
tudo em HTML é class =  em CSS é . ( pode vários elementos)
*/

body{
    background-color: rgb(105, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(4, 109, 0) ;
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0) ;
    color: white;
}

h2{
    color:rgb(75, 109, 71)  ;
}
.basico{
color: #03974d;
}
.intermediario{
color: #e7e409;
}
.avançado{
color: #dd0909;
}
.destaque{
    color: #cfcd4baf;
}